.note-container{
    background-color: rgb(255, 255, 200);
    width: 95%;
    height: 40%;
    border-radius: 20px;
    background-color: rgba(246, 233, 233, 1);
}

h4{
    margin-left: 20px;
    padding-top: 10px;
}

.note-content{
    width: 95%;
    height: 50%;
    margin-top: 5px;
    overflow: auto;
    overflow-y: auto;
    padding-left: 10px;
}

.note-content p{
    font-size: 15px;
}

.note-data{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}