.btn{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    border-radius: 18px;
    font-weight: 600;
    background-color: rgb(255, 224, 167);
    border: 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    font-size: 16px;
}